<div class="bg-light h-100 w-100">
  <div class="container py-lg-3 px-lg-5 ">
    <div class="row">
      <p class="lead col-sm-12 col-md-6 col-lg-4">
        title product : {{responseObj.title}}
      </p>
      </div>
    <div class="row">
      <p class="lead col-sm-12 col-md-6 col-lg-4">
        subject product : {{responseObj.subject}}
      </p>
      </div>
    <div class="row">
      <p class="lead">medias product :</p>

      <div class="w-75 mx-auto" *ngFor="let media of responseObj.medias" >
        <div class="row my-2">
          <div class="col-2 ">id : {{media.id}}</div>
          <div class="col-2">id-task : {{media.flutter_task_id}}</div>
          <div class="col-4">type media :{{media.type}}</div>
          <!--<div class="col-2">{{media.media}}</div>  -->
          <div class="col-4">

            <button mat-button (click)="openDialog(media.type,media.media)" color="primary" class=" fw-bold ">open file</button>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>
