<header class="header-section">
  header-icons
</header>
<div class="container mt-3">
  <div class="row">
    <p class="username mx-0">Hello Abdullah 👋 </p>
  </div>
  <div class="row">
    <div class="card green-card">
      <div class=" d-flex flex-row">
        <div class="section-img p-2">
          <img src="assets/hajj.svg" alt="">
        </div>
        <div class="section-info p-2">
          <h3 class="h-text mt-3">Our Next Umrah</h3>
          <p class="date-text">15 jun - 17 jun</p>
          <button class="btn-hajj btn-large btn-info mb-3">See Packages</button>

        </div>

      </div>


    </div>
  </div>
  <div class="row">
    <div class="switch-btn p-0">
      <button class="btn green-btn my-1 mx-0 py-0">Umrah</button>
      <button class="btn white-btn my-1 mx-0 py-0">Hajj</button>
    </div>
  </div>
  <div class="row mt-2">
    <p class="title">Book your umrah now!</p>



  </div>
  <div class="row">

    <select class="select-styles style-location  py-3" aria-label="select location ">
      <!-- selected class="text-uppercase " -->
      <option value="a">
        <!--location-postion  -->
        <span class="location-postion text-capitalize "> your location</span>

      </option>
      <option value="1">option 1

      </option>
      <option value="2">option 2</option>
      <option value="3">option 3</option>
    </select>
  </div>

  <div class="row mt-3">
    <div class="col-6">
      <!-- appearance="fill" -->
      <mat-form-field appearance="fill">
        <mat-datepicker #picker></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-label>Check-in</mat-label>
        <input matInput [matDatepicker]="picker">


      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="fill">
        <mat-datepicker #picker2></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-label>Check-out</mat-label>
        <input matInput [matDatepicker]="picker2">


      </mat-form-field>

    </div>
  </div>

  <div class="row">
    <select class=" select-styles style-person py-3" aria-label="select location ">
      <option selected class="text-uppercase ">
        <i class="fa fa-group" aria-hidden="true"></i>
        <!-- &#f124; -->
        <span class="location-postion text-capitalize "> adults</span>
      </option>
      <option value="1">option 1</option>
      <option value="2">option 2</option>
      <option value="3">option 3</option>
    </select>
  </div>

  <!-- <div class="row slider-box mt-3">
    <div class="row">
      <p class="text-slider">Weather in Saudi Arabia</p>
    </div>
    <div class="row">
      <!-- [images]="images" -->
  <!-- <carousel [images]="images" class="car-style"> -->
  <!-- <div class="carousel-cell">
          <img src="assets/sun.svg">
        </div> -->
  <!-- </carousel> -->


  <!-- </div> -->

  <!-- </div> -->
  <div class="row mt-3">
    <div class="row">
      <p class="Latest">Latest news</p>
    </div>
    <div class="row">

      <div class="col-5 img-news mx-0">
        <img src="assets/img1.png" alt="" class="rounded">
      </div>
      <div class="col-6 info-news mx-0">
        <p class="news-title my-0">Latest news</p>
        <p class="news-info mt-1 mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
        <a href="http://" class=" d-block news-link my-0">Read More</a>
      </div>

    </div>
    <div class="row mt-3">

      <div class="col-5 img-news mx-0">
        <img src="assets/img2.png" alt="" class="rounded">
      </div>
      <div class="col-6 info-news mx-0">
        <p class="news-title my-0">Latest news</p>
        <p class="news-info mt-1 mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
        <a href="http://" class=" d-block news-link my-0">Read More</a>
      </div>

    </div>
  </div>

  <div class="row mt-3">
    <div class="row my-1">
      <p class="Latest">Latest news</p>
    </div>
    <div class="row">
      <div class="col-6 ">
        <div class="box-img">
          <div class="overlay"> </div>
          <span class="overlay-text">Makkah live</span>
          <img src="assets/live.png" alt="" class="live-img">
          <img src="assets/im3.png" alt="" class="rounded d-block   w-100">
        </div>

      </div>
      <div class="col-6 ">

        <div class="box-img">
          <div class="overlay"> </div>
          <span class="overlay-text">Almadinah live</span>
          <img src="assets/live.png" alt="" class="live-img">
          <img src="assets/im4.png" alt="" class="rounded d-block   w-100">
        </div>

      </div>
    </div>
  </div>
  <footer class="row mt-3 mb-0">
    <img src="assets/footer.png" alt="" class="w-100">
  </footer>
</div>
